# This has the database connection password and other secret keys
wp-config.php
staff-tools/interview-matcher/database_credentials.php

# Server specific files
.htaccess
favicon.ico

# This file is added on Mac's for the Finder app
.DS_Store

.bash_history

.cache

wp-content/updraft
wp-content/uploads

log
*.log
*.sql
*.sqlite

wp-content/cache
wp-content/w3tc-config

# Windows filesystem stuff
Thumbs.db

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz*

# ignore DreamWeaver notes
_notes

# ignore test folder
test

# don't ignore sql files in db/migrate
!db/migrate/*.sql

# ignore files from JetBrains IDEs
.idea/
